<div class="container w-25 mt-3 border border-3">
    <form [formGroup]="registerForm" (ngSubmit)="registerHandler()">
        <fieldset>
            <h2 class="text-center mt-3">Registration Form</h2>

            <!-- username -->
            <div class="mt-5">
                <label for="username">username</label>
                <input formControlName="username" type="text" class="form-control" id="username"
                    placeholder="Enter username">
            </div>
            <p *ngIf="registerForm.get('username')?.touched && registerForm.get('username')?.errors?.['required']"
                class="error">
                Username is required! </p>
            <p *ngIf="registerForm.get('username')?.errors?.['minlength']" class="error">
                Username must be at least 5 characters</p>

            <!-- Email -->
            <div class="mt-3">
                <label for="email">Email</label>
                <input formControlName="email" type="email" class="form-control" id="email" placeholder="Enter Email">
            </div>
            <p *ngIf="registerForm.get('email')?.touched && registerForm.get('email')?.errors?.['required']"
                class="error">
                Email is required! </p>
            <p *ngIf="registerForm.get('email')?.errors?.['emailValidator']" class="error">
                Email is not valid</p>

            <!-- Password -->
            <div class="mt-3" formGroupName="pass">
                <label for="password">Password</label>
                <input formControlName="password" type="password" class="form-control" id="password"
                    placeholder="Enter Password">
                <p *ngIf="registerForm.get('pass')?.get('password')?.touched && registerForm.get('pass')?.get('password')?.errors?.['required']"
                    class="error">
                    Password is required!
                </p>
                <p *ngIf="registerForm.get('pass')?.get('password')?.errors?.['minlength']" class="error">
                    Password must be at least 5 characters!
                </p>

                <!-- rePassword -->
                <div class="mt-3">
                    <label for="rePassword">Repeat Password</label>
                    <input formControlName="rePassword" type="password" class="form-control" id="rePassword"
                        placeholder="ReEnter Password">
                </div>
                <p *ngIf="registerForm.get('pass')?.errors?.['passwordGroupValidator']" class="error">
                    Password not match!
                </p>
            </div>

            <div class="d-grid col-6 mx-auto mt-3 mb-3">
                <button [disabled]="registerForm.invalid" class="btn btn-primary">Create Account</button>
            </div>
        </fieldset>
    </form>
</div>