<p class="text-center">Users</p>

<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">FirstName</th>
            <th scope="col">LastName</th>
            <th scope="col">Email</th>
            <th scope="col">Password</th>
        </tr>
    </thead>
    <tbody *ngFor="let user of users">
        <tr>
            <th scope="row">{{user.Id}}</th>
            <td>{{user.FirstName}}</td>
            <td>{{user.LastName}}</td>
            <td>{{user.Email}}</td>
            <td>{{user.Password}}</td>
        </tr>
    </tbody>
</table>